<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenGL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04ABA1B71D644B0C0057B981</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>04ABA1D01D644B0C0057B981</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>04ABA1DB1D644B0C0057B981</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
